<h2>Wyniki klasyfikacji dla sygnału {{database}}/{{signalNumber}}</h2>

    <button class="btn btn-default" data-ng-click="back()">Powrót</button>
    <a class="btn btn-default" data-ui-sref="home"><span class="glyphicon glyphicon-home"></span> Strona główna</a>

<h3>Parametry</h3>
<ul>
    <li>Szerokość segmentu: {{segSize}}</li>
    <li>Poziom istotności &#x03B1;: {{alpha}}</li>
</ul>

<h3>Wyniki</h3>

<div ng-if="true">
    <div class="row signalChart">
        <linechart data="signalData" options="chartOptions"></linechart>
    </div>
    <br /><br />
    <div class="row center">
        <button type="button" class="btn btn-warning" data-ng-disabled="begin" data-ng-click="signal_back()">
            <span class="glyphicon glyphicon-arrow-left"></span> Do tyłu
        </button>
        <button type="button" class="btn btn-warning" data-ng-disabled="end" data-ng-click="signal_forward()">
            <span class="glyphicon glyphicon-arrow-right"></span> Do przodu
        </button>
    </div>
</div>