<form class="form-group">
    <div class="col-sm-3 col-xs-12">
        Sygnał:
    </div>
    <div class="col-sm-6 col-xs-12">
        <data-ui-select data-ng-model="signal.selected" theme="bootstrap">
            <data-ui-select-match placeholder="Wybierz sygnał">
                {{$select.selected.number}}
            </data-ui-select-match>
            <data-ui-select-choices repeat="signal in signals track by $index">
                Sygnał {{signal.number}} ({{signal.database}})
            </data-ui-select-choices>
        </data-ui-select>
    </div>
    <div class="col-sm-3 col-xs-12">
        <a class="btn btn-primary" data-ui-sref="signalInfo({db: signal.selected.database, sigNo: signal.selected.number})">Analizuj</a>
    </div>
</form>