<h2>Informacje o sygnale {{signalNumber}}</h2>
<div class="container">
    <div class="row">
        <a type="button" class="btn btn-default" data-ui-sref="home">Powrót</a>
    </div>
    <ul>
        <li><strong>Baza danych</strong>: {{database}}</li>
    </ul>

    <h4>Przebieg sygnału</h4>
    <div class="row signalChart">
        <linechart data="signalData" options="chartOptions"></linechart>
    </div>
    <br /><br />
    <div class="row center">
        <button type="button" class="btn btn-warning" data-ng-disabled="begin" data-ng-click="signal_back()">
            <span class="glyphicon glyphicon-arrow-left"></span> Do tyłu
        </button>
        <button type="button" class="btn btn-warning" data-ng-disabled="end" data-ng-click="signal_forward()">
            <span class="glyphicon glyphicon-arrow-right"></span> Do przodu
        </button>
    </div>
</div>

<h2>Klasyfikacja</h2>
<form class="form-horizontal" name="classification">
    <h3>Test rozkładu &#x0394;RR</h3>
    <div class="form-group">
        <label for="segmentSize" class="col-sm-2 control-label">Wielkość segmentu [liczba próbek]</label>
        <number-input class="col-sm-10" name="segSize" min="10" max="10000" step="1" value="segSize"></number-input>

        <label for="segmentSize" class="col-sm-2 control-label">Poziom istotności &#x03B1;</label>
        <number-input class="col-sm-8" name="alpha" min="0.001" max="0.1" step="0.001" value="alpha"></number-input>

        <div class="row">
            <em data-ng-if="classification.segSize.$error.pattern" class="text-center col-sm-12">Wprowadź liczbę naturalną.</em>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" data-ng-click="classify()">Klasyfikuj</button>
</form>
